
.soft-text__empresa{
    .row{
        align-items: flex-end;
    }
    h1{
        font-size: 4.2rem;
        font-weight: 400;
        letter-spacing: -2px;
    }
    .soft-text__img{
        width: 84px;
        transition: all 0.8s ease;
        &:hover{
            transform: scale(1.3) rotate(5deg);
        }
    }
    p{
        font-size: 1.850rem;
        font-weight: 400;
        color: $primary-color;
        letter-spacing: -1px;
    }
}
.soft-media__empresa{
    .soft-image__notebook{
        width: 550px;
    }
}

.LegusSection-testimonials{
    background-color: $primary-color;
}

.LegusSection-manual__empresa{
    background-image: url("../../assets/img/partes/Predios_Prancheta_1.png"); 
    background-position: revert; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #ffffff;
    padding: 30px 30px 90px 30px;
    .LegusElement-manual__text{
        align-items: start;
    }
}
